body {
    font-family: Consolas, monospace, sans-serif;
}

.raw {
    visibility: hidden;
}

:link {
    color: #41597A;
}

:visited {
    color: #597ba8;
}

.content {
    margin-left: 3rem;
    color: black;
    border-left: 3px lavender solid;
    padding-left: 1rem;
}
#content {
    margin-left: 3rem;
    color: black;
    border-left: 3px lavender solid;
    padding-left: 1rem;
}

div#main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    max-width: 500px;
    border-left: 3px lavender solid;
    padding-left: 1rem;

}

dl {
    margin-bottom: 0.5em;
}

dt {
    margin-top: 1em;
}

dd {
    display: inline;
    font-weight: lighter;
}

b {
    color: darkred;
}

i {
    color: darkgreen;
}

p {
    text-align: justify;
}

p, h1, h2, h3, h4, h5, h6, td, th {
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(82, 80, 82);
    background-color: transparent;
}

.tooltip{
    display: inline;
    position: relative;
}

.tooltip:hover:after{
    font-weight: lighter;
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 350px;
}

.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}

dd {
    display: inline;
    color: black;
}

a {
    text-decoration: none;
}